# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Data\classified_server_reloaded\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
